<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/functions.js"></script>
    <title>AdamsCode - Home</title>
</head>

<body>
    <!--    id: 5,
        author: 'Sandip Mishra',
        heading: 'Sandiop',
        content: 'Testing' -->
    <%- include('./partials/navbar.ejs', {user: locals.user ? user : null } ) %>

        <container class="container">
            <% posts.reverse().forEach((post, index)=> { %>
                <div class="heading-wrapper <%= index == 0 ? 'first' : '' %>">
                    <a class="post-link" href="/db/blog/<%=post.slug %>">
                        <% if (index==0) { %>
                            <img class="title-image" src="images/alien.png" />
                            <div id="new-mark">new!</div>
                            <% } %>
                                <div class="text-block"> March 19, 2021</div>
                                <h2 class="<%= index == 0 ? 'title-heading' : null %> ">
                                    <%= post.heading %>
                                </h2>
                                <h4> By <span class="bold">
                                        <%= post.author %>
                                    </span></h4>
                                <p id="first-content">
                                    <%=post.content%>
                                </p>
                    </a>
                </div>
                <% }); %>
        </container>

</body>

</html>